.footer{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 40px 0px;
    align-items: center;
}

.redes{
    display: flex;
    padding: 0px 15px;
    gap: 15px;
}